* {
  font-family: "NanumSquareBold";
}
.answer,
.question {
  white-space: pre-line;
}
@media screen and (min-width: 1291px) {
  body {
    font-size: 20px;
    font-family: "NanumSquareBold";
  }

  .question-container {
    margin: 20px;
  }

  .question {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }

  .question p {
    margin-bottom: 5px;
  }

  .navigation {
    margin-top: 10px;
  }

  .navigation button,
  .goto button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #000000;
    color: white;
  }
  #prevButton {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 50px;
    height: 30px;
  }
  #nextButton {
    position: fixed;
    bottom: 0;
    right: 0px;
    width: 50px;
    height: 30px;
  }
  #revealButton {
    margin-top: 10px;
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    right: 100px;
    width: 100px;
    height: 30px;
  }
  .goto {
    position: fixed;
    bottom: 0;
    right: 200px;
    width: 250px;
    height: 30px;
    margin-right: 0;
  }
  .answer.hidden {
    display: none;
  }
}
@media screen and (max-width: 1290px) {
  body {
    font-size: 40px;
    font-family: "NanumSquareBold";
    height: 2000px;
  }

  .question-container {
    margin: 20px;
  }

  .question {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
  }

  .question p {
    margin-bottom: 5px;
  }

  .navigation {
    margin-top: 10px;
  }

  .navigation button,
  .goto button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #000000;
    color: white;
    font-size: 8vw;
    border: #000000;
  }
  #prevButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 12%;
  }
  #nextButton {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 12%;
  }
  #revealButton {
    margin-top: 10px;
    padding: 5px 10px;
    position: fixed;
    bottom: 12%;
    right: 0;
    width: 50%;
    height: 12%;
  }
  .goto {
    background-color: #000000;
    position: fixed;
    bottom: 12%;
    left: 0;
    width: 50%;
    height: 12%;
  }
  #gotoInput {
    font-size: 8vw;
    width: 35%;
    border: none;
    border-radius: 4px;
    margin-left: 15%;
  }
  #gotoButton{
    height: 12%;
    margin-top: 10%;
    margin-left: 0%;
    font-size: 8vw;
    border: none;
    cursor: pointer;

  }
  .answer.hidden {
    display: none;
  }
}
